.about {
  min-height: 100vh;
}

.reasons-1 {
  font-family: "Sedgwick Ave Display", cursive;
  color: white;
  font-size: 2.3rem;
  /* padding-top: 7%; */
}

@media (max-width: 750px) {
  .text-left {
    /* margin: 0; */
    width: 100%;
  }
}
.text-para {
  width: 50%;
  font-family: "Shadows Into Light", cursive;
}
@media (max-width: 450px) {
  .text-para {
    width: 100%;
  }
}
